<div class="container">
  <div class="bio read-more row">
  <div class="col-sm-10 col-sm-offset-1">
      <div class="read-more-header">
        <span class="btn btn-success">
          <a href="https://facebook.com/{{ site.facebook_profile }}">
          <i class="fa fa-facebook wow bounceIn" data-wow-delay=".1s"></i>
          </a>
          <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
          </a>
          <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
          </a>
          <a href="https://{{ site.linkedin_url }}">
          <i class="fa fa-linkedin wow bounceIn" data-wow-delay=".1s"></i>
          </a>
        </span>
      </div><!-- /.read-more-header -->
      <div class="read-more-content">
        <div class="col-sm-9">
            <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Author Bio</a></h3>
            <p>Dave Chakrabarti builds websites for nonprofits, startups, and institutions. Usual roles involve project management, site building, and authoring front-end code. He's been working with the Drupal CMS since 2005.</p>
            <p>Dave splits his time between Chicago and Calcutta, India, where he currently advises startups on technology strategy and teaches women's self defense workshops.</p>
          </div>
          <div class="col-sm-3">
            <a href="#">
              <img class="thumbnail" src="/img/dave-chakrabarti-headshot.jpg" alt="Dave Chakrabarti in the mountains near Darjeeling, India.">
            </a>
          </div>
        </div> 

      </div><!-- /.read-more-content -->
    </div>
  </div><!-- /.read-more -->
</div>