<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Nonprofitable.org</h1>
            <hr>
            <p>Dave Chakrabarti builds websites for nonprofits, startups, and institutions. Usual roles involve project management, site building, and authoring front-end code. He's been working with the Drupal CMS since 2005.</p>
            <a href="#writing" class="btn btn-primary btn-xl page-scroll">Writing   <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            <a href="/dave-chakrabarti" class="btn btn-primary btn-xl">Biography   <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</header>
