<div id="portfolio" class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="read-more-header">
                <span class="btn btn-success">Recent Work</span>
            </div>
            <h3>Drupal Training / Mentoring, Afghanistan</h3>
            <div class="content">
            <p>Developed training materials, produced trilingual screencasts, and conducted onsite Drupal site-building training for staff at eleven Afghan universities and the Afghan Ministry of Higher Education as part of <a href="https://www.fhi360.org/projects/university-support-and-workforce-development-program">FHI360's USAID-funded USWDP project</a>.</p>
                <a class="btn btn-success" href="/drupal-training-in-Afghanistan">Project Review</a>
            </div>
            <hr />
            <h3>Capacity Building, Strategy</h3>
            <div class="content">
                <p>Provided mentorship, consulting CTO services, and office hours for startups as Technologist in Residence for the <a href="http://technopreneurs.org.in/">Technopreneurs startup incubation space</a>.</p>
                <a class="btn btn-success" href="/kolkata-startup-mentoring">Project Review</a>
            </div>
            <hr />
            <h3>Case Study: Intranet Job Placement Database</h3>
            <div class="content">
                <p> <a href="http://geoscholars.com">GeoScholars</a> required an intranet with searchable databases for recent graduates and available jobs with placement partners. This was the first Drupal project from the Technopreneurs' startup incubation program.</p>
                <a class="btn btn-success" href="/drupal-for-intranet-directories">Case Study</a>
            </div>
            <hr />
            <h3>University of Illinois Admissions Portal</h3>
            <div class="content">
                <p>For the first of two university projects for <a href="http://limeredstudio.com">LimeRed Studio</a>, I authored front-end code for the Drupal relaunch of the <a href="http://admissions.uic.edu/">University of Illinois Admissions portal</a>.</p>
                <a class="btn btn-success" href="/uic-admissions-front-end">Case Study</a>
            </div>
            <hr />
            <h3>University of Illinois College of Dentistry website</h3>
            <div class="content">
                <p>Authored front-end code and assisted with Drupal site-building features, including mega-menus, views, and a custom breadcrumb-embedded menu system, as part of the [LimeRed Studio](limeredstudio.com) team.</p>
                <span class="btn btn-success">Case Study</span>
            </div>
        </div>
    </div>
</div>
      