<div id="portfolio" class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="portfolio">Drupal Training</h3>
            <div class="subheading">Drupal administration and management for 11 universities at the Afghanistan Ministry of Higher Education.</div>
        </div>
        <div class="col-sm-4">
            <h3 class="portfolio">GeoScholars Intranet Development</h3>
            <div class="subheading">Drupal-based job search, resume posting, and internship placement portal for an educational consulting startup.</div>
        </div>
        <div class="col-sm-4">
            <h3 class="portfolio">University of Illinois, Chicago</h3>
            <div class="subheading">Front-end Drupal code authoring for the College of Dentistry and Admissions websites, site building, and setup.</div>
        </div>
    </div>
</div>