<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            
            <div class="hidden-xs col-sm-2">
                <a href="#">
                <img class="img-thumbnail img-responsive headshot"
                     src="img/dave-self-defense.jpg" alt="Dave Chakrabarti">
                </a>
            </div>


            <div class="col-xs-12 col-sm-6">
                    <p>I've been building websites since '01. Professional experience includes project management at a leading Drupal consultancy for the nonprofit sector, community technology training and conference organizing as a VISTA fellow, and heading the development, hosting, and support of 2,000+ nonprofit website projects at a national organization. I also advise several startups on technology strategy. 
                    </p>
                    <!-- Put this in the About page
                    <p class="text-faded">He co-organized the first two Chicago Drupal Camps, was one of the convenors of the Chicagoland Net Tuesdays meetup for digital strategy, and has presented at several international events, including the '07 Netsquared Funding Competition (finalist), the CTCNet National Conference, NTEN's Nonprofit Tech Conference, and several of Aspiration's Nonprofit Software Dev Summits.</p> -->
                    <p>I've been a digital nomad since '09, working primarily from Chicago, IL, and Calcutta, India. In my spare time, I travel by motorcycle, teach self defense workshops, and am working on a startup that combines personal safety training with legal support for attack survivors.</p>
                    
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-warning" href="tel:+85212345678"><i class="fa fa-phone"></i> Resume (online)</a>
                        <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Resume (pdf)</a>
                        <a type="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> About Dave</a>
                    </div>
            </div> 
            <div class="hidden-xs col-sm-4">
                    <div class="roles-homepage">
                        <h3 class="section-heading">Roles</h3>
                        <hr class="dark">
                        <ul class="list-unstyled roles">
                            <li class="role-items">Project Management</li>
                            <li class="role-items">Drupal Site Building</li>
                            <li class="role-items">Front-end Code</li>
                            <li class="role-items">Light Systems Administration</li>
                            <li class="role-items">Startup Strategy and Consulting</li>
                        </ul>
                    </div>
            </div>   

        </div>
    </div>
</section>
